body
{
    background-color: #fefefe;
}

a
{
    background-color: lawngreen;
}

h5
{
    color: red;
}

.lesson-header
{
    color: #3682888c;
    background-color: khaki;
}

.specific-section
{
    color: #40429ec0;
    background-color: rgb(133, 187, 136);
}