body
{
    background-color: #fefefe;
}



h5
{
    color: red;
}

.lesson-header
{
    color: #3682888c;
    background-color: khaki;
}

.specific-section
{
    color: #f709bbf5;
    background-color: rgb(133, 187, 136);
}