body
{
    background-color: #2b2b29;
    color: #989C94; 
}

h1{
    color: #E3E7D3; 
}

h5
{
    color: rgb(204, 145, 19);
}

a{
    color: rgb(35,170,242);
}

nav a {
    color: #989C94;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    padding-top: 20px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color:#A72608;
}

.lesson-header
{
    color: #BDC2BF;
    /* background-color: khaki; */
}



.navi-box{
    background: #090C02;   
    border-color: #A72608;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    padding: 20px;
}

.box-picturetext{
    display: inline-block;
    border-style: double;
    border-width: 1px;
    border-radius: 2px;
    padding: 20px;
}

.box-picturetext-picture{
    display: inline-block;
    width: 40%;
    /* vertical-align: middle; */
}

.box-picturetext-text{
    /* padding: 20px; */
    display: inline-block;
    margin-left: 10px;
    width: 50%;
    vertical-align: top;
}

.box-electronica-content{
    width: 50%;
    padding: 20px 20%;

}

